*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu1{
    display: flex;
    flex-direction: column;
}
.menus1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #15184b;
    color: whitesmoke;
    max-height: 40px;
    padding: 7px 50px;
}
.opcoes-1{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: bold;    
}
.imagem-menu1{
    height: 14px;
}
.opcoes-2{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: bold;
}
.opcoes-3{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: bold;
}
.menu2{
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100vw;
}
.menus2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.caixa1{
    display: flex;
    border-right: 1px solid silver;
    max-height: 70px;
    padding: 20px 55px 20px 50px;
 }
 .car{
    height: 30px;
 }
 .caixa2{
    display: flex;
    width: 45vw;
    justify-content: space-between;
 }
 .navbar1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 60px;
    text-decoration: none;
 }
 .navbar-link a:active{
    text-decoration: none;
    color: black;
 }
 .navbar-link a:link{
    text-decoration: none;
    color: black;
 }
  .navbar-link a:visited{
    color: darkblue;
    text-decoration: none;
 }
.navbar-link a:hover{
    color: #f8de22;
    text-decoration: none;
 }
 .navbar2{
    background-color: #f8de22;
    color: whitesmoke;
    padding: 30px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 120px;
 }
 .body1{
    background-image: url(img/mulher-dirigindo-automovel.png);
    background-size: contain;
    height: 500px;
    width: 100vw;
    margin-top: 8px;
 }
 .body1-box{
    padding-top: 150px;
    padding-left: 100px;
 }
 .body1-text{
    color: #f8de22;
    font-size: 50px;
    width: 470px;
    display: flex;
    flex-wrap: wrap;
 }
 .body1-button{
    padding: 20px 35px;
    border: 1px solid black;
    background-color: white;
 }
 .body1-button:hover{
    background-color: #f8de22;
 }
 .body2{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}
 .body2-img{
    height: 500px;
    width: 600px;
    size: contain;
 }
.body2-box2{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.body2-box2-2{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  gap: 30px;
}
.body2-box2-textbox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.body2-box2-h6{
    color: #f8de22;
}
.body2-box2-h2{
    font-size: 37px;
    color: #15184b;
}
.body2-box2-p{
    color: gray;
}
.body2-box2-miniboxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
}
.body2-box2-minibox{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.body2-box2-minibox h4{
    color: #15184b;
    font-size: 22px;
}
.body2-box2-minibox p{
    color: gray;
    font-size: 18px;
}
.body3{
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.body3-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 30px;
}
.body3-box3-textbox{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.body3-box3-textbox h6{
    color: #f8de22;
}
.body3-box3-textbox h4{
    font-size: 32px;
    width: 330px;
    text-align: center;
    color: #15184b;
}
.body3-box3-1{
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: space-between;
}
.body3-trainers{
    background-color: lightblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer1{
    background-color: #191d88;
    display: flex;
    flex-direction: row;
    color: #fffafa;
    justify-content: space-between;
    padding: 4px 10px;
  }
  .column1 h6{
    color: #f8de22;
  }
  .column1{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .column2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
  }
  .column2 ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .footer-item-1{
    display: flex;
    flex-direction: row;
  }
  .item{
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAALZJREFUSEvtlDEOAjEMBMe/QHyNBlGAKJBoEY+gowEaeOiiSClO4Q47gXSXerOjXVs2Oj/r7M8McBsOVSTpBCzN7OA6FgIXIOkCHPO/m5ltayARwBXYD0yrIC4gGUtqhoQAGfIANrVJagBJey8hwM7MNDWXMCCnSPoXsBoYPoH1FKQFUKb4D0DSWEVfzVPKcAJJH0P2+g8Duq7pL+ahBN1PRV7PM7DocuxqDtuYNrxFraAZ4Db3BkrISRmCcYxWAAAAAElFTkSuQmCC);
    list-style-position: outside;
  }
  .column3{
    gap: 10px;
  }
  .footer2{
    background-color: #15184b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .span1{
    color: #f8de22;
  }
  .span2{
    color: white;
  }
  .footer2-column2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
  }
  .footer2-column2 p{
    color: white;
  }
  .span3{
    color: #f8de22;
  }